.boardSizeContainer {
  position: absolute;
  max-width: 80vw;
  top: 2vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  backdrop-filter: blur(3px);
  background-color: #0f172a;
  /* pointer-events: none;
  transform: scale(0.6) translateY(-50%);
  opacity: 0; */
  border: 1px solid #2a283e;
  padding: 2vw;
  border-radius: 1vw;
}
.closeIcon {
  position: absolute;
  color: #fff;
  font-size: 2vw;
  right: 1vw;
  top: 1vw;
  cursor: pointer;
}
.selectionTxt {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 1vw;
}
.open {
  transform: scale(1) translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.boxesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  padding: 2vw;
  width: 100%;
  align-items: stretch;
}
.box {
  text-align: center;
  border: 2px solid #47474797;
  padding: 2vw;
  border-radius: 1vw;
  cursor: pointer;
  position: relative;
}
.box:hover {
  transform: scale(1.05);
  border: 2px solid #2563eb;
  transition: all 0.3s ease;
}
.hovered {
  transform: scale(1.05);
  border: 2px solid #2563eb;
  transition: all 0.3s ease;
}
.boxesContainer div .boxMain {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.boxesContainer div .boxMain > div {
  width: 2.5vw;
  height: 2.5vw;
  border: 2px solid #2563eb;
  box-sizing: border-box;
}
.cellsNum {
  font-size: 2vw;
  color: #2563eb;
  font-weight: 600;
  margin-bottom: 1vw;
  font-family: "Inter", sans-serif;
}
.cellsCount {
  font-size: 1.6vw;
  color: #2563eb;
  font-weight: 600;
  margin-top: 1vw;
  font-family: "Inter", sans-serif;
}
.modalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2vw;
  padding: 0 2vw;
}
.leftBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 3vw;
  border: 2px solid #47474797;
  /* flex: 1; */
  border-radius: 0.5vw;
  color: #fff;
  gap: 1vw;
  font-size: 1vw;
}
.bulbIcon {
  font-size: 2vw;
  color: gold;
}
.gameStart {
  background-color: #2563eb;
  border: none;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  padding: 1vw 3vw;
  color: #fff;
  cursor: not-allowed;
}
.checkIcon {
  position: absolute;
  right: 1vw;
  top: 1vw;
  color: #2563eb;
  font-size: 1.5vw;
  display: none;
}

@media (max-width: 767px) {
  .boardSizeContainer {
    max-width: 90vw;
    padding: 4vw;
    border-radius: 2vw;
  }
  .closeIcon {
    font-size: 20px;
    right: 4vw;
    top: 4vw;
  }
  .selectionTxt {
    font-size: 30px !important;
  }
  .boxesContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0;
    margin-bottom: 20px;
  }
  .box {
    padding: 4vw;
    border-radius: 2vw;
  }

  .boxesContainer div .boxMain > div {
    width: 8vw;
    height: 8vw;
    border-width: 3px;
  }
  .cellsNum {
    font-size: 16px;
    margin-bottom: 2vw;
  }
  .cellsCount {
    font-size: 18px;
    margin-top: 2vw;
  }
  .checkIcon {
    font-size: 20px;
    right: 4vw;
    top: 4vw;
  }
  .leftBlock {
    padding: 2vw 4vw;
    border-radius: 1vw;
    font-size: 3vw;
  }
  .modalFooter {
    flex-direction: column;
    gap: 4vw;
  }
  .gameStart {
    font-size: 4vw;
    padding: 2vw 4vw;
    border-radius: 1vw;
    cursor: pointer;
  }
}
