.card {
  padding: clamp(16px, 2vw, 28px);
  color: #fff;
  border: 2px solid #47474797;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
}
.cardImage {
  width: clamp(72px, 8vw, 100px);
  height: clamp(72px, 8vw, 100px);
  border: 1px solid #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}
.image {
  font-size: clamp(34px, 3.5vw, 48px);
  color: #2563eb;
}
.difficultyName {
  font-size: clamp(22px, 2vw, 30px);
  text-transform: uppercase;
  color: #2563eb;
  font-weight: 500;
  font-family: inter;
  margin-bottom: 8px;
}
.tagLine {
  font-size: clamp(14px, 1.1vw, 16px);
  line-height: 1.5;
  color: #ababab;
  padding: 0;
  margin-bottom: 16px;
}
.boardSizes {
  border: 2px solid #47474797;
  padding: 10px;
  border-radius: 8px;
}
.boardSizes p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #2563eb;
  margin-bottom: 8px;
}
.boardSizes ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(8px, 1vw, 16px);
}
.boardSizes ul li {
  font-size: 14px;
  color: #ababab;
}

@media (max-width: 767px) {
  .card {
    padding: 20px;
    border-radius: 12px;
  }
  .boardSizes {
    padding: 10px;
  }
}
