.gameHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
  padding: 2vw 0 1.5vw;
  border-bottom: 1px solid #cccccc2d;
}
.Home {
  background: none;
  border: 2px solid #cccccc2d;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5vw 1vw;
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}
.restart {
  background: none;
  border: 2px solid #f97316;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5vw 1vw;
  font-size: 18px;
  color: #f97316;
  cursor: pointer;
}
.restart:hover {
  box-shadow: 0px 4px 8px -4px #f97316;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.gameDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
  padding: 1vw 0;
  color: #fff;
  /* border-bottom: 1px solid #cccccc2d; */
}
.difficultyBlock,
.boardSizesBlock,
.playerBlock,
.timerBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 30px;
  color: #2563eb;
}
.icon ~ div span {
  color: #ccc;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.icon ~ div h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 2px;
}
.boardBlock {
  display: grid;
  border: 1px solid #cccccc2d;
  width: fit-content;
}
.boardBlock input {
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid #cccccc2d;
  border-radius: 5px;
  cursor: default;
}
